<h1>Reset Password</h1>
<%= form_tag(:controller => 'reset_pass', :action => 'sub') do |f| %>

   <%= label_tag(:email, "Email:") %><%= text_field_tag(:email) %>
   <%= label_tag(:pass, "New password:") %><%= password_field_tag(:pass) %>
   
   <%= submit_tag("Submit")%>
   <% end %>